* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}

.oclock{
    position: relative;
    width: 300px;
    height: 300px;
    border: 8px solid rgb(210, 210, 210);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: -10px -10px 10px 5px rgb(255, 255, 255), 10px 10px 10px 5px rgb(97, 97, 97);
}

.secund{
    position: absolute;
    width: 5px;
    height: 200px;
    background-color: black;
    top: -50px;
    transform-origin: bottom;
    transform: rotate(0deg);
    /* animation: aylan 4s; */
}
.minut{
    position: absolute;
    width: 8px;
    height: 150px;
    background-color: rgb(47, 182, 255);
    top: 0px;
    transform-origin: bottom;
    transform: rotate(0deg);
    border-radius: 10px;
}
.hour{
    position: absolute;
    width: 10px;
    height: 140px;
    background-color: rgb(172, 172, 172);
    top: 10px;
    transform-origin: bottom;
    transform: rotate(0deg);
    border-radius: 15px;
}

@keyframes aylan{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
